In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import os

ModuleNotFoundError: No module named 'PIL'

In [45]:
df=pd.read_csv('/root/Desktop/Untitled Folder/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_April_2019.csv')
all_months_data=pd.DataFrame()


files=[file for file in os.listdir('/root/Desktop/Untitled Folder/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/')]
for file in files:
    df=pd.read_csv('/root/Desktop/Untitled Folder/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/'+file)
    #print(file)
    all_months_data=pd.concat([all_months_data,df])
    

                                                                #combining all csv file to 'all_data.csv' file 
all_months_data.to_csv('all_data.csv',index=False)

# read in updated_data_files

In [46]:
all_data=pd.read_csv('all_data.csv')
all_data=all_data.dropna(how = 'all')# remove unwanted nan in csv file
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,162004,Apple Airpods Headphones,1,150,02/12/19 22:02,"227 Church St, San Francisco, CA 94016"
186846,162005,AAA Batteries (4-pack),2,2.99,02/04/19 20:44,"417 Jefferson St, Los Angeles, CA 90001"
186847,162006,USB-C Charging Cable,1,11.95,02/24/19 06:31,"498 8th St, Atlanta, GA 30301"
186848,162007,USB-C Charging Cable,1,11.95,02/24/19 19:09,"715 7th St, Dallas, TX 75001"
186849,162008,27in FHD Monitor,1,149.99,02/26/19 17:15,"677 West St, Los Angeles, CA 90001"

augment data with additional columns

In [47]:
# Remove unwanted NaN datas in all_data.csv

nan_df=all_data[all_data.isna().any(axis=1)]
#nan_df.head()





#all_data.head(60)

In [48]:
all_data= all_data[all_data['Order Date'].str[0:2] != 'Or']

In [49]:
#add month column

all_data['month']=all_data['Order Date'].str[0:2]
all_data['month']=all_data['month'].astype('int32')
all_data.tail()

#covert column into correct data type
all_data['Quantity Ordered']= pd.to_numeric(all_data['Quantity Ordered']) #all_data['Quantity Ordered'].astype('int')
all_data['Price Each']=pd.to_numeric(all_data['Price Each']) #all_data['Price Each'].astype('int')

<ipython-input-49-0fa17ec681fe>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['month']=all_data['Order Date'].str[0:2]
<ipython-input-49-0fa17ec681fe>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['month']=all_data['month'].astype('int32')
<ipython-input-49-0fa17ec681fe>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Quantity Ordered']= pd.to_numeric(all_data['Quantity Ordered']) #all_data['Quantity Ordered'].astype('int')
<ipython-input-49-0fa17ec681fe>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Price Each']=pd.to_numeric(all_data['Price Each']) #all_data['Price Each'].astype('int')

In [50]:
all_data['Sales']=all_data['Quantity Ordered']*all_data['Price Each']
all_data.head

<ipython-input-50-89f59175e7fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Sales']=all_data['Quantity Ordered']*all_data['Price Each']

<bound method NDFrame.head of        Order ID                   Product  Quantity Ordered  Price Each  \
0        295665        Macbook Pro Laptop                 1     1700.00
1        295666        LG Washing Machine                 1      600.00
2        295667      USB-C Charging Cable                 1       11.95
3        295668          27in FHD Monitor                 1      149.99
4        295669      USB-C Charging Cable                 1       11.95
...         ...                       ...               ...         ...
186845   162004  Apple Airpods Headphones                 1      150.00
186846   162005    AAA Batteries (4-pack)                 2        2.99
186847   162006      USB-C Charging Cable                 1       11.95
186848   162007      USB-C Charging Cable                 1       11.95
186849   162008          27in FHD Monitor                 1      149.99

            Order Date                         Purchase Address  month  \
0       12/30/19 00:01   136 Church St, New York City, NY 10001     12
1       12/29/19 07:03      562 2nd St, New York City, NY 10001     12
2       12/12/19 18:21     277 Main St, New York City, NY 10001     12
3       12/22/19 15:13      410 6th St, San Francisco, CA 94016     12
4       12/18/19 12:38            43 Hill St, Atlanta, GA 30301     12
...                ...                                      ...    ...
186845  02/12/19 22:02   227 Church St, San Francisco, CA 94016      2
186846  02/04/19 20:44  417 Jefferson St, Los Angeles, CA 90001      2
186847  02/24/19 06:31            498 8th St, Atlanta, GA 30301      2
186848  02/24/19 19:09             715 7th St, Dallas, TX 75001      2
186849  02/26/19 17:15       677 West St, Los Angeles, CA 90001      2

          Sales
0       1700.00
1        600.00
2         11.95
3        149.99
4         11.95
...         ...
186845   150.00
186846     5.98
186847    11.95
186848    11.95
186849   149.99

[185950 rows x 8 columns]>

In [51]:
all_data['Sales']

0         1700.00
1          600.00
2           11.95
3          149.99
4           11.95
           ...
186845     150.00
186846       5.98
186847      11.95
186848      11.95
186849     149.99
Name: Sales, Length: 185950, dtype: float64


# 1. what was the best month for sale?How much was earned that month?

In [52]:
result= all_data.groupby('month').sum()
result

       Quantity Ordered    Price Each         Sales
month
1                 10903  1.811768e+06  1.822257e+06
2                 13449  2.188885e+06  2.202022e+06
3                 17005  2.791208e+06  2.807100e+06
4                 20558  3.367671e+06  3.390670e+06
5                 18667  3.135125e+06  3.152607e+06
6                 15253  2.562026e+06  2.577802e+06
7                 16072  2.632540e+06  2.647776e+06
8                 13448  2.230345e+06  2.244468e+06
9                 13109  2.084992e+06  2.097560e+06
10                22703  3.715555e+06  3.736727e+06
11                19798  3.180601e+06  3.199603e+06
12                28114  4.588415e+06  4.613443e+06

In [53]:
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month,Sales
0,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",12,1700.00
1,295666,LG Washing Machine,1,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12,600.00
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12,11.95
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12,149.99
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95
...,...,...,...,...,...,...,...,...
186845,162004,Apple Airpods Headphones,1,150.00,02/12/19 22:02,"227 Church St, San Francisco, CA 94016",2,150.00
186846,162005,AAA Batteries (4-pack),2,2.99,02/04/19 20:44,"417 Jefferson St, Los Angeles, CA 90001",2,5.98
186847,162006,USB-C Charging Cable,1,11.95,02/24/19 06:31,"498 8th St, Atlanta, GA 30301",2,11.95
186848,162007,USB-C Charging Cable,1,11.95,02/24/19 19:09,"715 7th St, Dallas, TX 75001",2,11.95
186849,162008,27in FHD Monitor,1,149.99,02/26/19 17:15,"677 West St, Los Angeles, CA 90001",2,149.99

In [54]:
def get_city(address):
    return address.split(',')[1]

def add_state(state):
    return state.split(',')[2].split(' ')[1]

all_data['city']=all_data['Purchase Address'].apply(lambda x:f"{get_city(x)}[{add_state(x)}]")

<ipython-input-54-e6ced2b45bb2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['city']=all_data['Purchase Address'].apply(lambda x:f"{get_city(x)}[{add_state(x)}]")

# what city had the highest number of sales

In [55]:
data=all_data.groupby('city').sum()
data

                    Quantity Ordered    Price Each   month         Sales
city
 Atlanta[GA]                   16602  2.779908e+06  104794  2.795499e+06
 Austin[TX]                    11153  1.809874e+06   69829  1.819582e+06
 Boston[MA]                    22528  3.637410e+06  141112  3.661642e+06
 Dallas[TX]                    16730  2.752628e+06  104620  2.767975e+06
 Los Angeles[CA]               33289  5.421435e+06  208325  5.452571e+06
 New York City[NY]             27932  4.635371e+06  175741  4.664317e+06
 Portland[ME]                   2750  4.471893e+05   17144  4.497583e+05
 Portland[OR]                  11303  1.860558e+06   70621  1.870732e+06
 San Francisco[CA]             50239  8.211462e+06  315520  8.262204e+06
 Seattle[WA]                   16553  2.733296e+06  104941  2.747755e+06

# what time should we display advertisements to make to maximize likelihood of customers buying product

In [70]:
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month,Sales,city,hour,minute,grouped
16,295681,Google Phone,1,600.00,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,600.00,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
17,295681,USB-C Charging Cable,1,11.95,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,11.95,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
18,295681,Bose SoundSport Headphones,1,99.99,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,99.99,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
19,295681,Wired Headphones,1,11.99,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,11.99,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
36,295698,Vareebadd Phone,1,400.00,2019-12-13 14:32:00,"175 1st St, New York City, NY 10001",12,400.00,New York City[NY],14,32,"Vareebadd Phone,USB-C Charging Cable"
...,...,...,...,...,...,...,...,...,...,...,...,...
186799,161960,USB-C Charging Cable,2,11.95,2019-02-01 11:32:00,"867 Cherry St, Boston, MA 02215",2,23.90,Boston[MA],11,32,"Vareebadd Phone,USB-C Charging Cable"
186811,161972,Google Phone,1,600.00,2019-02-02 21:01:00,"59 Lincoln St, Austin, TX 73301",2,600.00,Austin[TX],21,1,"Google Phone,USB-C Charging Cable"
186812,161972,USB-C Charging Cable,1,11.95,2019-02-02 21:01:00,"59 Lincoln St, Austin, TX 73301",2,11.95,Austin[TX],21,1,"Google Phone,USB-C Charging Cable"
186837,161997,Google Phone,1,600.00,2019-02-28 22:15:00,"845 8th St, San Francisco, CA 94016",2,600.00,San Francisco[CA],22,15,"Google Phone,USB-C Charging Cable"
186838,161997,USB-C Charging Cable,1,11.95,2019-02-28 22:15:00,"845 8th St, San Francisco, CA 94016",2,11.95,San Francisco[CA],22,15,"Google Phone,USB-C Charging Cable"

In [71]:
all_data['Order Date']=pd.to_datetime(all_data['Order Date']) #convert 04/19/19 08:46 to 2019-04-19 && 08:46 to 08:46:00
all_data.head()
all_data['hour']=all_data['Order Date'].dt.hour
all_data['minute']=all_data['Order Date'].dt.minute

In [72]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month,Sales,city,hour,minute,grouped
16,295681,Google Phone,1,600.00,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,600.00,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
17,295681,USB-C Charging Cable,1,11.95,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,11.95,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
18,295681,Bose SoundSport Headphones,1,99.99,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,99.99,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
19,295681,Wired Headphones,1,11.99,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,11.99,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
36,295698,Vareebadd Phone,1,400.00,2019-12-13 14:32:00,"175 1st St, New York City, NY 10001",12,400.00,New York City[NY],14,32,"Vareebadd Phone,USB-C Charging Cable"

# what product are most often sold together

In [61]:
all_data=all_data[all_data['Order ID'].duplicated(keep=False)]

all_data['grouped']=all_data.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month,Sales,city,hour,minute,grouped
16,295681,Google Phone,1,600.00,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,600.00,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
17,295681,USB-C Charging Cable,1,11.95,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,11.95,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
18,295681,Bose SoundSport Headphones,1,99.99,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,99.99,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
19,295681,Wired Headphones,1,11.99,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,11.99,Boston[MA],12,37,"Google Phone,USB-C Charging Cable,Bose SoundSp..."
36,295698,Vareebadd Phone,1,400.00,2019-12-13 14:32:00,"175 1st St, New York City, NY 10001",12,400.00,New York City[NY],14,32,"Vareebadd Phone,USB-C Charging Cable"

In [73]:
df=all_data[['Order ID','grouped']].drop_duplicates()
df.head()

   Order ID                                            grouped
16   295681  Google Phone,USB-C Charging Cable,Bose SoundSp...
36   295698               Vareebadd Phone,USB-C Charging Cable
42   295703   AA Batteries (4-pack),Bose SoundSport Headphones
66   295726                    iPhone,Lightning Charging Cable
76   295735   iPhone,Apple Airpods Headphones,Wired Headphones

In [74]:
#to count product numbers

In [77]:
from itertools import combinations
from collections import Counter

In [83]:
count=Counter()
for row in df['grouped']:
    row_list=row.split(',')
    count.update(Counter(combinations(row_list,2)))
    
for key,value in count.most_common(10):
    print(key,value)

('iPhone', 'Lightning Charging Cable') 1005
('Google Phone', 'USB-C Charging Cable') 987
('iPhone', 'Wired Headphones') 447
('Google Phone', 'Wired Headphones') 414
('Vareebadd Phone', 'USB-C Charging Cable') 361
('iPhone', 'Apple Airpods Headphones') 360
('Google Phone', 'Bose SoundSport Headphones') 220
('USB-C Charging Cable', 'Wired Headphones') 160
('Vareebadd Phone', 'Wired Headphones') 143
('Lightning Charging Cable', 'Wired Headphones') 92

# what product sold the most ....why do you think it sold the most

In [87]:
product_quantity=all_data.groupby('Product')
product_quantity.sum()

,Quantity Ordered,Price Each,month,Sales,hour,minute
Product,,,,,,
20in Monitor,161,17488.41,1101,17708.39,2196,4653
27in 4K Gaming Monitor,251,97887.49,1714,97887.49,3729,7839
27in FHD Monitor,298,44097.06,2155,44697.02,4341,8791
34in Ultrawide Monitor,247,93477.54,1739,93857.53,3568,7069
AA Batteries (4-pack),1013,2949.12,5512,3889.92,11090,23056
AAA Batteries (4-pack),1251,2436.85,5921,3740.49,11748,23924
Apple Airpods Headphones,982,146100.00,6770,147300.00,14033,28457
Bose SoundSport Headphones,827,81991.80,5730,82691.73,11944,24796
Flatscreen TV,179,53400.00,1256,53700.00,2523,5524
Google Phone,1642,983400.00,11277,985200.00,23722,48516
LG Dryer,25,15000.00,143,15000.00,369,799
LG Washing Machine,28,16800.00,169,16800.00,423,687
Lightning Charging Cable,1949,27313.65,12797,29137.55,26865,54445
Macbook Pro Laptop,197,333200.00,1444,334900.00,2833,5804
ThinkPad Laptop,176,175998.24,1296,175998.24,2573,5044
USB-C Charging Cable,2292,25226.45,14593,27389.40,30404,62035
Vareebadd Phone,602,240400.00,4253,240800.00,8525,17690
Wired Headphones,1825,20071.26,11839,21881.75,23803,49325
iPhone,1867,1306900.00,12880,1306900.00,27088,55673

In [1]:
product_price=all_data.groupby('Product').mean()['Price Each']
product_price

NameError: name 'all_data' is not defined

In [2]:
#into graph form

In [5]:
product_group =all_data.groupby('Product')
quantity_orderd=product_group.sum()['Quality Ordered']
products=[product for product,df in product_group]
plt.bar[product,quantity_ordered]
plt.xticks(products,rotation='vertical',size=8)
plt.show()

NameError: name 'all_data' is not defined

In [6]:
prices=all_data.groupby('Product').mean()['Price Each']
fig,ax1=plt.subplots()
ax2=ax1.twinx()

ax1.bar(products,quantity_ordered)                  #graph showing both price and quantity ordered 
ax2.plot(products,price,'b-')
ax1.set_xlable('Products Name')
ax1.set_ylable('Quantity Ordered')
ax2.set_ylable('Price',color='b')
ax1.set_xticklables(products,rotation='vertical',size=1)
plt.show()

NameError: name 'all_data' is not defined

In [ ]:
-